<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <!-- hack iOS CSS :active style -->
    <body ontouchstart="">
        
        <!-- live2d  -->
        <div id="landlord">
            <div class="message" style="opacity:0"></div>
            <canvas id="live2d" width="200" height="170" class="live2d"></canvas>
            <div class="hide-button">隐藏</div>
        </div>
        
        
        {% include nav.html %}

        {{ content }}

        {% include footer.html %}


        <!-- Image to hack wechat -->
        <img src="/img/icon_wechat.png" width="0" height="0" />
        <!-- Migrate from head to bottom, no longer block render and still work -->

    </body>

</html>
