<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->

<body ontouchstart="">


    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


    <!-- Image to hack wechat -->
    <img src="/img/icon_wechat.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

    <!-- live2d -->
    <div id="landlord">
        <!--<div class="message" style="opacity:0"></div>-->
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <!--<div class="hide-button">隐藏</div>-->
    </div>

    <!-- live2d  -->
    <script type="text/javascript">
        var message_Path = '/live2d/'
        var home_Path = 'https://kara07.github.io/'  //此处修改为你的域名，必须带斜杠
    </script>

    <script type="text/javascript" src="/live2d/js/live2d.js"></script>
    <script type="text/javascript" src="/live2d/js/message.js"></script>
    <!--<script type="text/javascript">
        loadlive2d("live2d", "/live2d/model/pio/model.json");
    </script>-->
    <!-- costum changing achieves -->
    <script type="text/javascript" src="/live2d/js/run_local.js"></script>

    <!-- click effect fireworks -->
    <!--<canvas class="fireworks"></canvas>
    <script src="/js/anime.min.js"></script>
    <script src="/js/fireworks.js"></script>-->

</body>

</html>